/* GENERAL */

/* COLORS #B2DF00 #004269 */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:400,700,900');

body {
  background-color: #B2DF00;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

h2, h3 {
  color: #fff;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.angle-column {
  padding-left: 0px;
}

.section-header {
  font-weight: 700;
}

/* NAV */

.navbar-fixed-top {
  -webkit-backface-visibility: hidden;
}

.navbar-default {
  background-color: #B2DF00;
  border: none;
  box-shadow: 0px 2px 20px;
  margin-bottom: 40px;
  visibility: hidden;
  position: fixed;
  z-index: 6000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #000033;
}

.navbar-default .navbar-nav>li>a {
  color: #000033;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #0066ff;
}

a.navbar-brand {
  display: inline-block;
  max-width: 300px;
  height: auto;
}

@media only screen and (max-width: 400px) {
  a.navbar-brand {
    display: inline-block;
    max-width: 200px;
    height: auto;
  }
}

.navbar-default .navbar-toggle {
  border-color: #004269;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #004269;
}

/* BANNER LOGO PUNCH */

#logo-punch-box {
  position: absolute;
  z-index: 5000;
}

#punch-column {
  padding: 0px;
}

/*IMAGES CAROUSEL*/

.slider-image, #logo-punch {
  width: 100vw;
}

/*@media only screen and (min-width: 1074px) {
  .slider-image, #logo-punch {
    width: 1074px;
  }
}*/

/*IDENTITY STATEMENT*/

#identity-statement {
  color: #2E2413;
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 100px;
}

.identity-callout {
  color: #0066ff;
}

@media only screen and (max-width: 990px) {
  #identity-statement {
    font-size: 36px;
  }
}

/*SECTION BREAK ANGLE*/

#break-angle--skills {
  width: 0;
  height: 0;
  border-top: 10vw solid #B2DF00;
  border-right: 100vw solid transparent;
  position: absolute;
}

/*SKILLS*/

#skill-section {
  background-color: #004269;
  padding-top: 10vw;
}

@media only screen and (min-width: 991px) {
  #skill-section {
    padding-top: 7vw;
  }
}

#skill-section h1 {
  color: #B2DF00;
}

.skill-pic {
  height: 120px;
}

#skill-row {
  margin-top: 50px;
  margin-bottom: 30px;
}

#skill-row h2 {
  margin-top: 30px;
  font-weight: 400;
}

#skill-row p {
  color: #fff;
  margin-top: 20px;
}

.skill-group {
  padding-left: 40px;
  padding-right: 40px;
}

@media only screen and (max-width: 990px) {
  #skill-row {
    margin-bottom: 0px;
  }
  #skill-row p {
    margin-bottom: 80px;
  }
  .skill-group {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*SECTION BREAK ANGLE*/

#break-angle--assets {
  width: 0;
  height: 0;
  border-top: 25vw solid #004269;
  border-left: 100vw solid transparent;
  position: absolute;
}

/* ASSETS */

#asset-section {
  margin-top: 20vw;
  margin-bottom: 100px;
}

@media only screen and (min-width: 991px) {
  #asset-section {
    margin-top: 14vw;
  }

  .asset-row, .call-to-action-row {
    margin-top: 5%;
  }
}

#asset-section h1 {
  color: #004269;
}

.asset-link {
  text-decoration: none;
  color: inherit;
}

.asset-link:hover {
  text-decoration: none;
  color: inherit;
}

.asset-image {
  box-shadow: 0px 10px 50px #000000;
}

#fishy {
  background-color: #fff;
}

.asset-image:hover {
  box-shadow: 0px 10px 50px 5px #000000;
}

@media only screen and (max-width: 990px) {
  #asset-section h1 {
    margin-bottom: 50px;
  }
  .asset-image {
    margin-bottom: 50px;
  }
  .asset-flex-parent {
    height: 120px;
    margin-bottom: 75px;
  }
  .asset-image, .asset-flex-parent h1, .asset-flex-parent p {
    text-align: center;
  }
  .asset-flex-parent p {
    text-align: center;
  }
  .asset-text {
    margin-top: 50px;
  }
  /*.asset-image {
    margin-bottom: 100px;
  }*/
}

/*SECTION BREAK ANGLE*/

#break-angle--contact {
  width: 0;
  height: 0;
  border-top: 5vw solid #B2DF00;
  border-left: 100vw solid transparent;
  position: absolute;
}

/*FOOTER CALL TO ACTION*/

#call-to-action {
  background-color: #004269;
  color: #fff;
  padding-top: 5vw;
  padding-bottom: 50px;
}

@media only screen and (min-width: 991px) {
  #call-to-action {
    padding-top: 3vw;
  }
}

#call-to-action-header h1 {
  color: #B2DF00;
}

#contact-box {
  /*background-color: #0066ff;
  border: 8px solid #000099;*/
  margin-top: 15px;
  padding: 25px 0px;
}

#contact-box>:first-child {
  font-weight: 400;
  margin-top: 0px;
}

#contact-box h3 {
  font-size: 30px;
}

#contact-box h3 a {
  color: #fff;
}

#social-icons {
  font-size: 36px;
  margin-top: 25px;
}

#social-icons a {
  color: #fff;
}

#contact-box h3 a:hover, #social-icons a i:hover {
  color: #000099;
  text-decoration: none;
}

#footnote {
  margin-top: 100px;
}
