/* GENERAL */

/*colors to use: #BF7636 #CF8A2B #262014 #B4C4D9 #8F9FBF*/
/*alternate colors: #BCAAA4 #795548 #4E342E #4DB6AC #B2DFDB*/

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:400,700,900');

body {
  background-color: #EBEFFF;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* NAV */

/*#ap-logo {
  height: 60px;
  max-width: none;
}*/

.navbar-default {
  background-color: transparent;
  border: none;
  margin-bottom: 40px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #000033;
}

.navbar-default .navbar-nav>li>a {
  color: #000033;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #0066ff;
}

a.navbar-brand {
  display: inline-block;
  max-width: 300px;
  height: auto;
}

@media only screen and (max-width: 400px) {
  a.navbar-brand {
    display: inline-block;
    max-width: 200px;
    height: auto;
  }
}

/*.navbar-brand {
  background-image: url("../img/name-01.png");
  background-repeat: no-repeat;
}*/

/* JUMBOTRON */

.jumbotron {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0066ff+0,7db9e8+100 */
  background: #0066ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #0066ff 0%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0066ff 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0066ff 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066ff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  height: 50vh;
}

.jumbotron h1, .jumbotron p {
  color: #fff;
}

/*SKILLS*/

.skill-pic {
  height: 120px;
}

.skill-row {
  margin-top: 50px;
  margin-bottom: 100px;
}

.skill-row h2 {
  margin-top: 30px;
  font-weight: 700;
}

.skill-row p {
  margin-top: 20px;
}

@media only screen and (max-width: 990px) {
  .skill-row {
    margin-bottom: 0px;
  }
  .skill-row p {
    margin-bottom: 100px;
  }
}

/* ASSETS */

#asset-section {
  margin-bottom: 100px;
}

.asset-header {
  display: block;
  background-color: #000099;
  color: #fff;
  padding: 10px 0px;
}

.asset-row, .call-to-action-row {
  margin-top: 5%;
}

.asset-flex-parent {
  display: flex;
  height: 260px;
  flex-direction: column;
  justify-content: center;
}

.asset-flex-parent h1 {
  margin-top: 0px;
  font-weight: 700;
}

.asset-image {
  border: 8px solid #000033;
}

@media only screen and (max-width: 990px) {
  .asset-row {
    margin-top: 50px;
  }
  .asset-image {
    margin-bottom: 25px;
  }
  .asset-flex-parent {
    height: 120px;
    margin-bottom: 75px;
  }
  .asset-image, .asset-flex-parent h1, .asset-flex-parent p {
    margin-left: auto;
    margin-right: auto;
  }
  /*.asset-image {
    margin-bottom: 100px;
  }*/
}

/*FOOTER CALL TO ACTION*/

#call-to-action {
  background-color: #000033;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

#call-to-action-header h1 {
  font-weight: 700;
}

#contact-form {
  background-color: #0066ff;
  border: 8px solid #000099;
}
